.editLayer {
  z-index: 1;
  position: absolute;
  top: 0;
}

.viewLayer {
  position: relative;
  left: calc(50% - (600px / 2));
}

.react-pdf__Document {
  z-index: 0;
}

.react-pdf__Page__canvas {
  border: 1px solid black;
  border-radius: 2%;
}
