.editLayer {
  z-index: 1;
  position: absolute;
  left: calc(50% - (600px / 2));
}

.viewLayer {
  z-index: 0;
  position: absolute;
  left: calc(50% - (600px / 2));
}

.react-pdf__Page__canvas {
  border: 1px solid black;
  border-radius: 2%;
}
